<script setup lang="ts">
//Libraries
import { nextTick, provide, ref } from 'vue';

//Class
import { type Product } from "@/types/Product";
import { type ReceiptItem } from '@/types/ReceiptItem';

//Other
import ProductList from "@/components/ProductList.vue";
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';

import {useReceiptPOSStore} from '@/stores/receiptpos';

const products1: Product[] = [
  { id: 1, name: "ลาเต้ ร้อน", price: 35.0, type: 1 },
  { id: 2, name: "Mocha ร้อน", price: 40.0, type: 1 },
  { id: 3, name: "Americano ร้อน", price: 35.0, type: 1 },
  { id: 4, name: "Green Tea ร้อน", price: 60, type: 1 },
  { id: 5, name: "Cocoa ร้อน", price: 50.0, type: 1 },
  { id: 6, name: "Cappuccino ร้อน", price: 30.0, type: 1 },
  { id: 7, name: "Espresso ร้อน", price: 50.0, type: 1 },
  { id: 8, name: "Flat White ร้อน", price: 40.0, type: 1 },
  { id: 9, name: "Mlik ร้อน", price: 35.0, type: 1 },
];
const products2: Product[] = [
  { id: 1, name: "ลาเต้ ร้อน", price: 35.0, type: 2 },
  { id: 2, name: "Mocha ร้อน", price: 40.0, type: 2 },
];
const products3: Product[] = [
  { id: 1, name: "ลาเต้ ร้อน", price: 35.0, type: 3 },
  { id: 2, name: "Mocha ร้อน", price: 40.0, type: 3 },
  { id: 3, name: "Americano ร้อน", price: 35.0, type: 3 },
];

const receiptStore = useReceiptPOSStore();
const tab = ref(1)
const divReceiptItems = ref<HTMLElement | null>(null)
const dialog = ref(false)
provide('receiptDialog',dialog)
const selected = (p: Product) => {
  console.log("POSView: ", p);
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if(divReceiptItems.value) divReceiptItems.value.scrollTo(0,divReceiptItems.value.scrollHeight)
  })
}

const showReceipt =function() {
  receiptStore.showDialog()
}

</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" >
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" class="overflow-receipt-table">
                <v-sheet
                min-width="300"
                max-width="600"
                height="400"
                elevation="6"
              >
                <ReceiptDetailTable></ReceiptDetailTable>
              </v-sheet>
              </div>
              
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <member-card></member-card>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl"  size="large">ยกเลิก</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" color="light-blue" size="large" @click="showReceipt">ชำระเงิน</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6">
        <v-sheet min-width="300" max-width="600" height="730" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">เครื่องดื่ม</v-tab>
            <v-tab :value="2">ขนม</v-tab>
            <v-tab :value="3">อาหาร</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList
                :products="products1"
                @selected-product="selected"
              ></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList
                :products="products2"
                @selected-product="selected"
              ></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList
                :products="products3"
                @selected-product="selected"
              ></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <receipt-dialog></receipt-dialog>
</template>

<style scoped>
.overflow-receipt-table {
  overflow-y: auto;
}
.overflow-receipt-table::-webkit-scrollbar {
  display: none;
}
</style>
