<script setup lang="ts">
import { useReceiptPOSStore } from '@/stores/receiptpos';

const receiptStore = useReceiptPOSStore();
</script>

<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="6" style="text-align: left ;color: rgb(134, 133, 133);">ยอดก่อนหัก</v-col>
      <v-col cols="5" style="text-align: right"> {{ receiptStore.receipt?.total }} </v-col>
        <v-col cols="1" style="text-align: right ;color: rgb(134, 133, 133);">บาท</v-col>

      <v-col cols="6" style="text-align: left ;color: rgb(134, 133, 133);">ส่วนลดสมาชิก</v-col>
      <v-col cols="5" style="text-align: right">{{ receiptStore.receipt?.memberDiscount }}</v-col>
      <v-col cols="1" style="text-align: right ;color: rgb(134, 133, 133);">บาท</v-col>

      <v-col cols="6" style="text-align: left ;color: rgb(134, 133, 133);">ยอดรวม</v-col>
      <v-col cols="5" style="text-align: right">{{ receiptStore.receipt?.netTotal }}</v-col>
      <v-col cols="1" style="text-align: right ;color: rgb(134, 133, 133);">บาท</v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

</style>