<script setup lang="ts">
import { inject, type Ref } from "vue";
import { useReceiptPOSStore } from '../../stores/receiptpos';

const receiptStore = useReceiptPOSStore();
</script>

<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Summary Receipt </v-card-title>
      <v-card-text>
        <!-- {{ receiptStore.receipt }} -->
        <v-container>
          <v-sheet width="300" height="400" elevation="6" >
            <v-row no-gutters>
              <v-col cols="12">
                <h1 style="text-align: center; font-size: 13pt">Decoffee</h1>
                <h1 style="text-align: center; font-size: 13pt">ใบเสร็จรับเงิน</h1>
                <table>
                  <tbody>
                    <tr v-for="item of receiptStore.receiptItems" :key="item.id" >
                      <td style="padding-inline: 10px;">{{ item.unit }}</td>
                      <td style="text-align: left; padding-right: 15px">{{ item.name }}</td>
                      <td style="text-align: left; padding-right: 15px ">
                        <span v-if="item.unit > 1">
                          {{ `@${item.price}` }}
                        </span>
                      </td >
                      <td style="text-align: right; ">{{ item.unit * item.price }}</td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </v-col>
              <v-col cols="6">
                <p style="padding-inline: 10px">ยอดสุดธิ</p>
              </v-col>
              <v-col cols="2">
                  {{ (receiptStore.receipt.totalItem)  }} ชิ้น
              </v-col>
              <v-col cols="3">{{ (receiptStore.receipt?.total) }}</v-col>
              <v-col cols="6">
                <p style="padding-inline: 10px"> {{ receiptStore.receipt.paymentTyp }} /เงินทอน</p>
              </v-col>
              <v-col cols="2">
                  {{ (receiptStore.receipt.total)  }}
              </v-col>
              <v-col cols="3">{{ (receiptStore.receipt?.change) }}</v-col>
              <v-col cols="3">{{ (receiptStore.receipt?.change) }}</v-col>
            </v-row>
          </v-sheet>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="receiptStore.receiptDialog = false"
        >
          Disagree
        </v-btn>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="
            () => {
              receiptStore.receiptDialog = false;
              receiptStore.clear();
            }
          "
        >
          Agree
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
