<script setup lang="ts">
import { useReceiptPOSStore } from '@/stores/receiptpos';

const receiptStore = useReceiptPOSStore();
</script>

<template>
    <v-table>
        <thead>
          <tr>
            <th>ลําดับ</th>
            <th>รูป</th>
            <th>ชื่อสินค้า</th>
            <th>ราคา</th>
            <th>จํานวน</th>
            <th>รวม</th>
            <th>........</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
            <td>{{ index + 1 }}</td>
            <td style="height: 50px">
              <v-img
                :src="`./img/coffees/product${item.productId}.png `" height="40" width="40" cover ></v-img>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
              <v-btn
                icon="mdi-minus"
                density="compact"
                @click="receiptStore.decreaseItem(item)"
              ></v-btn
              >{{ item.unit
              }}<v-btn
                icon="mdi-plus"
                density="compact"
                @click="receiptStore.increaseItem(item)"
              ></v-btn>
            </td>
            <td>{{ item.price * item.unit }}</td>
            <td>
              <v-btn
                icon="mdi-delete"
                density="compact"
                @click="receiptStore.removeReceiptItem(item)"
              ></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
</template>